@{
    ViewData["Title"] = "Politicas de privacidad";
}

<h1 class="text-center mt-4">Desarrollador</h1>
<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <p class="text-center">Nombre: </p>
        </div>
        <div class="col-6">
            <p class="text-center">Alan Jackson Duarte Marroquín</p>
        </div>
        <div class="col-6">
            <p class="text-center">Email: </p>
        </div>
        <div class="col-6">
            <p class="text-center">alanduam@gmail.com</p>
        </div>
        <div class="col-6">
            <p class="text-center">Dirección 1: </p>
        </div>
        <div class="col-6">
            <p class="text-center">Lote 8, sector F, manzana 2, Col. Sta. Clara II, zona 18, Guatemala, Guatemala</p>
        </div>
        <div class="col-6">
            <p class="text-center">Dirección 2: </p>
        </div>
        <div class="col-6">
            <p class="text-center">5ta. Av 1-82, Altos de San Nicolas, San Jose Pinula, Guatemala</p>
        </div>
        <div class="col-6">
            <p class="text-center">Teléfono: </p>
        </div>
        <div class="col-6">
            <p class="text-center">5118-5258</p>
        </div>
    </div>
</div>