@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>Bienvenido</h1>
    <p>Vea la: <a href="https://aduam.github.io/conferencia-2019" target="_blank">Conferencia Honolulú</a>.</p>
</div>
